{% include "header.html" %}
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" action="" method="POST">
            {% csrf_token %}
            <span id="reauth-email" class="reauth-email"></span>

            <input type="text" id="inputEmail" class="form-control" placeholder="username"  name="username" required >
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required  name="password" required>

            <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="Log In" />


        </form>
        <!-- /form -->
        <a class="forgot-password">
                Forgot the password?

            </a>
        <div class="error">
            <p>{{error}}</p>
        </div>
        <div class="msg">
            <p>{{msg}}</p>
        </div>

    </div>
</div>
<!-- /card-container -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}" />